.wrapper_home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home_title{
    height: 150px;
    background-color: #8CA9B7;
    color: white;
}
.klop{
    height: 560px;
   
}
.carouselItem{
    height: 200px;
    width: auto;
}

@media (width < 800px){
    .recipe{
        flex-direction: column;
    }
}