.mainlist-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(-180deg, rgba(176, 237, 221, 0.8), rgb(42, 181, 211,0.5));
    width: 100%;
    height: auto;
    min-height:100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.List{
    height: auto;
    width: 93%;
    display: flex;
    flex-direction: column;
    margin: 13px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 7px 7px 17px 7px;
}

.mainlist-header-text{
    margin: 5px;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    height: auto;
    margin-top: 50px;
}

.mainlist__searchlabel .container,.SearchBar{
    height: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination{
    margin-bottom: 0;
}

.SearchBar{
    margin-left: 30px;
}
.SearchBar input{  
    border: 1px solid #ccc;
    border-radius: 4px;
}
.SearchBar input,.SearchBar_BtnFind{  
    height: 35px;
}
.SearchBar_BtnFind {
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #419cf8;
    margin-right: 20px;
    margin-left: -5px;
}
.tablePost{
    display: none;
}
@media(min-width:930px){
    .List{
        width: 84%;
        margin-left: 145px;
        margin-right: 145px;
    }
    .mainlist-header-text{
        font-size: 3vw;
    }
}
@media(min-width:550px){
    .tablePost{
        display: block;
    }
    .mainlist__searchlabel{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
